<div class="pagemargin">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h6> Technologies</h6>
      </div>
      <div class="col-sm">
        <h6>DAY-TO-DAY COMFORT</h6>
        <ul>
          <li>Sass/ LESS</li>
          <li>HTML5/ CSS3</li>
          <li>JavaScript/ jQuery</li>
          <li>Version Control (GIT)</li>
          <li>Foundation/ Bootstrap / Susy / Neat </li>
          <li>Responsive Layout and Design</li>
          <li>Agile Methodology</li>
          <li>Cross-Browser Compatibility</li>
          <li>SQL</li>
        </ul>
      </div>
      <div class="col-sm">
        <h6>EXPERIENCE WITH</h6>
        <ul>
          <li>Angular 9</li>
          <li>Express</li>
          <li>Node.js</li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container" style="border: 1px;">
    <div class="row">
      <div class="col-4">
        <h6>Work Experience</h6>
      </div>
      <div class="col-8">
        <h6>Owner, SJ Developer</h6>
        <p><strong><a href="www.shashankjain.com">ShashankJain</a>, Sydney, NSW, May 2020-June 2020</strong></p>
        <p>
          Just like a Squarespace Specialist I'm an expert with all things Squarespace.
          The goal in mind is to provide small businesses as well as recently established startups with a well-thought
          websites that conveys their unique brand or product. I'm able to deliver a top-notch user experience that
          doesn't
          lack in the care that I provide to my customers. All projects are built in the Squarespace platform that fully
          utilizes their JSON API, and are extensively modified. Primary code utilization includes HTML5, CSS3, Less,
          Javascript
          nd Git.
        </p>
        <br>
        <h6>Java Developer</h6>
        <p><strong><a href="http://ssis.co.in/">Sai Sri Info Solutions</a>, Visakhaptanam, Andhra Pradesh, April
            2017-September 2017</strong></p>
        <p>
          • Analyse client requirement and develop the application
          • Manage the clients and other stakeholder’s feedback for final product channel
          • Develop the desktop application as per stakeholder’s requirements
          • Training of the client’s employees.

        </p>
        <br>
        <h6>Delivery Driver</h6>
        <p><strong><a href="http://menulog.com.au">MenuLog</a>, Sydney, NSW, Jan 2020-present</strong></p>
        <p>
          • Analyse client requirement and develop the application
          • Manage the clients and other stakeholder’s feedback for final product channel
          • Develop the desktop application as per stakeholder’s requirements
          • Training of the client’s employees.

        </p>
        <br>
        <h6>Valet Driver</h6>
        <p><strong><a href="http://westfield.com">Westfield Burwood</a>, Sydney, NSW, November 2019-present</strong></p>
        <p>
          • Analyse client requirement and develop the application
          • Manage the clients and other stakeholder’s feedback for final product channel
          • Develop the desktop application as per stakeholder’s requirements
          • Training of the client’s employees.

        </p>
        <br>
        <h6>Stock Taker</h6>
        <p><strong><a href="http://RGIS.com">RGIS</a>, Sydney, NSW, November 2019-present</strong></p>
        <p>
          • Analyse client requirement and develop the application
          • Manage the clients and other stakeholder’s feedback for final product channel
          • Develop the desktop application as per stakeholder’s requirements
          • Training of the client’s employees.

        </p>
        <br>
        <h6>Crew Member</h6>
        <p><strong><a href="http://showcall.com">Showcall Crewing</a>, Sydney, NSW, November 2018-present</strong></p>
        <p>
          • Analyse client requirement and develop the application
          • Manage the clients and other stakeholder’s feedback for final product channel
          • Develop the desktop application as per stakeholder’s requirements
          • Training of the client’s employees.

        </p>
        <br>
        <h6>Christmas Casual </h6>
        <p><strong><a href="http://myer.com.au">Myer Sydney City</a>, Sydney, NSW, November 2018-Feburary 2019</strong>
        </p>
        <p>
          • Analyse client requirement and develop the application
          • Manage the clients and other stakeholder’s feedback for final product channel
          • Develop the desktop application as per stakeholder’s requirements
          • Training of the client’s employees.

        </p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container" style="border: 1px;">
    <div class="row">
      <div class="col-4">
        <h6>Education</h6>
      </div>
      <div class="col-8">
        <h6>Post Graduation </h6>
        <p><strong>The University of Sydney, Sydney, NSW, 2018-2020</strong></p>
        <p>

        </p>
        <br>
        <h6>Under Graduation</h6>
        <p><strong>Andhra University, Visakhaptanam, Andhra Pradesh, 2014-2018</strong></p>
        <p>

        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
